@media screen and (max-width:500px) {
    .logo img {
        width: 130px;
        margin-top: 20px;
    }
    .user_menu {
        width: 200px;
        height: 60px;
        position: absolute;
        right: 0;
    }

    .user_menu ul li {
        width: 90px;
        font-size: 12px;
    }
    .search_area {
        width: 360px !important;
        margin-left: -14px;
        margin-top: 10px;
    }

}