* {
    margin: 0;
    padding: 0;
}
body {
    background: silver;
}
.navigation-bar {
    width: 100%;
    height: 70px;
    background: #4c4c44;
}
.logo {
    width: 180px;
    float: left;
}
.logo img {
    width: 200px;
    margin-top: 10px;
}
.search_area {
    width: 550px;
    height: 70px;
    float: left;
    margin-left: 50px;
}
.search_box {
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    float: left;
}
.search_btn {
    float: left;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
}
.user_menu {
    width: 300px;
    height: 60px;
    float: right;
}
.user_menu ul {
    float: right;
}
.user_menu li {
    transition: 0.3s
}
.user_menu li:hover  {
    background: #2ed082;
}
.user_menu ul li {
    list-style: none;
    float: left;
    width: 125px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.user_menu ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}
.user_menu button {
    color: #fff;
    height: 40px;
    line-height: 40px;
}

/* SLIDER AREA */

.slider-area {
    width: 100%;
    height: 500px;
}

.slider-area .slider img {
    width: 100%;
    height: 500px;
}
.bx-wrapper {
    border: none;
}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    bottom: 30px !important;
}

/* slider content */

.slider-content {
    position: absolute;
    top:150px;
    left: 100px;
    width: 600px;
}

/*product section*/
.product-section {
    width: 100%;
    background: #fff;
    padding: 50px 10px;
    margin: 15px 0;
}
.section-heading {
    width: 100%;
    height: 40px;
}
.section-heading .heading {
    font-weight: 400;
    border-bottom: 2px solid;
    padding-bottom: 7px;
    display: inline-block;
}
.section-product-cards {
    width: 100%;
    margin-top: 30px;
} /* Every single product box*/
.product-card {
    width: 250px;
    height: 400px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: 10px 20px;
}
.product-card .product-image img {
    width: 100%;
    height: 300px;
}
.card-contents {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: -400px;
    left: 0;
    width: 100%;
    height: 300px;
    visibility: hidden;
    transition: 0.2s all ease-in-out;
}
.product-card:hover .card-contents {
    visibility: visible;
    top: 0;
}
.cart-btn {
    margin: 130px 100px;
}
.product-details {
    padding: 10px;
}
.product-name {
    font-weight: 400;
    color: #575253;
}
.product-price {
    font-weight: bold;
    font-size: 177px;
}
.product-price span {
    margin-left: 20px;
}
.section-product-cards
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    width: 50px;
    height: 50px;
    text-align: center;
    background: greenyellow;
    color: #fff;
    line-height: 50px;
    position: absolute;
    outline: none;
}
.section-product-cards
.owl-carousel .owl-nav button.owl-next {
    right: 0;
    top: 150px;
}

.section-product-cards
.owl-carousel .owl-nav button.owl-prev {
    left: 0;
    top: 150px;
}